body{
    background-color: black;
}

.abstract {
    -webkit-filter: blur(70px);
    filter: blur(100px);
    position: absolute;
}


.abstract_two {
    right: 0;
    top: 50vh;
    width: 25%;


}



.abstract_three {
    left: 0;
    top: 1100px;
    width: 55%;
    z-index: -1;
 
}

.abstract_four {
    width: 25%;
    right: 0;
    top: 2100px;
   
}

.abstract_five {
    width: 40%;
    left: 0;
    top: 1889px;
    z-index: -2;
   
}